    <div id="mystudent">
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <div class="control has-icons-left has-icons-right search-field">
                    <input id="search" class="input is-large" type="text" placeholder="" v-model="search" /><span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="box cta">
          <div class="columns">
  <div class="column has-background-success">
    
    <button type="click" class="button is-primary mt-4">
      <h2> TEST {{ students }}</h2>
    </button>

    <p class="bd-notification is-info has-background-light">STUDENT</p>
    <div class="columns is-mobile">
      <div class="column">
        <p class="bd-notification is-info"></p>
          <tbody>
            {{#each students }}
              <tr>
                <td>\{{ first_name }}</td>
                <td>{{ last_name }}</td>
                <td>{{ grade_level }}</td>
              </tr>
            {{else}}
              <p>No students to display</p>
            {{/each}}
          </tbody>
      </div>
  </div>
  <div class="column has-background-primary">
    <p class="bd-notification is-danger has-background-light">ENROLLMENTS</p>
    <div class="columns is-mobile">
      <div class="column is-half">
        <p class="bd-notification is-danger">SUBJECT</p>
      </div>
      <div class="column">
        <p class="bd-notification is-danger">TUTOR</p>
      </div>
    </div>
  </div>
</div>

<script  src='./js/students.js'></script>